.create-note-footer{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    padding-bottom: 5px;
    overflow: hidden; 
    white-space: nowrap;
}

.create-note-btn{
    // margin-left: 1px;
    // margin-right: 1px;
    max-width: 100%;
}

.create-note-btn button{
    margin-right: -5px;
}

