<div class="create-note-footer" [style.background]="noteObj.color">
    <div class="create-note-btn" *ngIf="!isTrashComponent">
            <button mat-icon-button matTooltip="Reminde me">
                    <img class="icon" src="../../../assets/Dashboard/notification.png" />
            </button>
            <button mat-icon-button matTooltip="Collaborator" class="header-icon">
                    <img src="../../../assets/Dashboard/add_person.png" />
            </button>
            <!-- <button mat-icon-button matTooltip="Background color" class="bg-color" [matMenuTriggerFor]="color">
                    <img src="../../../assets/Dashboard/color.png"/>
                    <mat-menu #color="matMenu">
                        <button mat-menu-item>Red</button>
                        <button mat-menu-item>Yellow</button>
                        <button mat-menu-item>Blue</button>
                        <button mat-menu-item>Green</button>
                        <button mat-menu-item>White</button>
                        <button mat-menu-item>Gray</button>
                      </mat-menu>
            </button> -->

            <button class="buttons" matTooltip="colour" [matMenuTriggerFor]="colorMenu">
                <img class="icon" src="../../../assets/Dashboard/color.png" alt="">
                <mat-menu #colorMenu="matMenu">
                    <div class="pop">

                        <div *ngFor="let color of colors" class="colorButton">
                            <button mat-mini-fab [style.background]="color.code" id="colorbuttons"
                                (click)="setColor(color.name)"></button>
                        </div>
                    </div>
                </mat-menu>
            </button>

        
            <button mat-icon-button matTooltip="Add image">
                    <img src="../../../assets/Dashboard/add_image.png" />
            </button>
            
                <button class="archive" mat-icon-button matTooltip="Archive" (click)="Archive()" *ngIf="isDisplaynoteComponent"> 
                        <img src="../../../assets/Dashboard/archive.png" ></button>
            
            
                <button mat-icon-button matTooltip="Unarchive" (click)="Unarchive();" *ngIf="isArchiveComponent">
                    <img src="../../../assets/Dashboard/unarchive.svg" ></button>
            
            <button mat-icon-button matTooltip="More">
                <img src="../../../assets/Dashboard/more.png" [matMenuTriggerFor]="more"/>
              <mat-menu #more="matMenu">
                <button mat-menu-item (click)="Trash()">Delete Note</button>
                <button mat-menu-item>Add label</button>
                <button mat-menu-item>Add drawing</button>
                <button mat-menu-item>Make a copy</button>
                <button mat-menu-item>Show checkboxes</button>
                <button mat-menu-item>Copy to Google Docs</button>
              </mat-menu>
            </button>
    </div>
    <!-- <button mat-button matTooltip="Close" mat-dialog-close class="close-card">Close</button> -->
    <div *ngIf="isTrashComponent">
        <button mat-icon-button matTooltip="Delete Forever" (click)="delete()"> 
                <img src="../../../assets/Dashboard/deleteforever.svg" width="20px" height="20px"></button>
        <button mat-icon-button matTooltip="Restore" (click)="Trash()"> 
                <img src="../../../assets/Dashboard/Restore.svg" width="20px" height="20px"></button>
    </div>
</div>