<div class="displayNote">
    <div *ngFor="let note of NoteList">
        <mat-card class="example-card">
            <mat-card-title mat-dialog-title>
                {{note.title }}
                <!-- NoteID: {{note.noteID}} -->
            </mat-card-title>

            <mat-card-content mat-dialog-content>
                {{ note.description }}
                <!-- Trash: {{note.trash}} -->

            </mat-card-content>

          
        <mat-card-actions>
            <div class="icons">
                <app-icons></app-icons>
            </div>
        </mat-card-actions>
        </mat-card>
    </div>
</div>