<div class="note">
    <form [formGroup]="createNoteForm">

            <div class="create-note-header" *ngIf="notecard">
                    <input class="create-note" id="btn1" type="text" placeholder="Title" formControlName="title" autocomplete="off" />
                    <button mat-icon-button class="profile-icon" matTooltip="Pin">
                            <img src="../../../assets/Dashboard/pin.png" />
                    </button>
            </div>
            <div class="create-note-body">
                    <textarea class="create-note" id="btn2" type="text" (click)="openNoteCard()" formControlName="description"
                            placeholder="Take a note..." autocomplete="off" ></textarea>
            </div>
            <div class="create-note-footer" *ngIf="notecard">
                    <div class="icons">
                            <app-icons></app-icons>
                    </div>
                            <button mat-button matTooltip="Close" (click)="onSubmit()"  class="close-card">Close</button>
                    </div>
                    <mat-menu #vertebrates="matMenu" onselect="onColorseclect()">
                        <button mat-menu-item >red</button>
                        <button mat-menu-item >yellow</button>
                        <button mat-menu-item >green</button>
                        <button mat-menu-item>blue</button>
                        <button mat-menu-item>white</button>
                </mat-menu>
            
    </form>

</div>
