

.Main-body{
    display: flex;
    flex-direction: row;
}


.MainContainer{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 600px;
    padding: 25px;
    height: auto;
    background: #fff;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}

.head{
    display: flex;
    flex-direction: column;
    line-height: 60px;
}

.form-logo{
    font-size: 35px;
    
}
.LeftContainer{
    line-height: 1px;
    font-size: 10px;
}

.RightContainer{
    margin: auto;
}

.form-label{
    font-size: 15px;
}

.form-input{
    font-size: 15px;
}

.username-field{
    width: 100%;
}

.Email{
    padding-bottom: 12px;
}

.form-checkbox{
    padding: 17px 0px 0px 4px;
    margin-top: auto;
    font-size: 13px;
}

.form-btn{
    display: flex;
    column-gap: 48%;
    padding-top: 6%;
}

mat-error{
    font-size: 10px;
 }

 mat-hint{
    font-size: 12px;
 }

 .footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 88%;
    left: 76%;
    transform: translate(-50%,-50%);
    width: 100%;
    column-gap: 24%;
    color: gray;
}

.footer-dropdown{
    font-size: 12px;
    
}

.footer-link{
    font-size: 13px;
}