<div class="Main-body">
    <div class="MainContainer">
      <div class="LoginContainer">
        <div class="head"> 
          <div class="form-logo">
            <span  style="color: #4169e1;">F</span>
            <span  style="color: #d52b2b;">u</span>
            <span  style="color: #ff8c00;">n</span>
            <span  style="color: #4169e1;">d</span>
            <span  style="color: #008000;">o</span>
            <span  style="color: #d52b2b;">N</span>
            <span  style="color: #ff8c00;">o</span>
            <span  style="color: #4169e1;">t</span>
            <span  style="color: #008000;">e</span>
          </div>
          <div class="header-text">
            <span >Sign In</span>
            <h4 style="font-size:17px">Use your FundoNote Account</h4>
          </div>
          
        </div>
        <form class="form-login">
            <div>
                <div class="Email">
                    <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-label">Username</mat-label>
                    <input type="text" class="form-input" matInput placeholder="abc123@gmail.com"  />
                    <mat-error>Please Provide Valid Email Address</mat-error>
                  </mat-form-field>
                </div>
                <div class="Password">
                    <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-label">Password</mat-label>
                    <input type="password" class="form-input" id="pass2" matInput placeholder="">
                    <mat-error>Please provide valid Password</mat-error>
                  </mat-form-field>
                </div>
            </div>  
          <mat-checkbox class="form-checkbox">Show Password</mat-checkbox>
          <div style="padding: 18px 0px 0px 0px;">
            <a mat-button color="primary" style="padding: 0px;">Forgot Password </a>
          </div>
          <section class="form-btn">  
            <div class="CreateAccont">
              <a mat-stroked-button color="primary" routerLink="/Register">Create Account</a>
            </div>
            <div class="Login">
              <a mat-raised-button color="primary">Login</a>
            </div>
          </section>
        </form>
    </div>

    </div>
      <div class="footer">
              <div class="footer-dropdown">
                <mat-form-field appearance="fill">
                  <mat-label>select Language</mat-label>
                  <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                    <mat-option value="option1">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                  <a class="footer-link" mat-button href="https://support.google.com/accounts?hl=en#topic=3382296" >Help</a>
                  <a class="footer-link"  mat-button href="https://policies.google.com/privacy?gl=IN&hl=en" >Privacy</a>
                  <a class="footer-link" mat-button href="https://policies.google.com/terms?gl=IN&hl=en">Terms</a>
              </div>
      </div>
  </div>